.button {
  transition: 0.4s ease-in-out;
  padding: 1.3rem;
  font-weight: 400;
  font-family: $font-main;
  font-size: 1.1rem;

  background-color: $color-golden-opacity;
  color: $color-black;
  border: 2px solid $color-golden;

  &:hover {
    cursor: pointer;
    color: $color-golden;
    background-color: transparent;
  }
}

.button--outlined {
  border: 2px solid $color-golden;
  background-color: transparent;
  color: $color-golden;

  &:hover {
    color: $color-black;
    background-color: $color-golden-opacity;
  }
}
