.custom-button,
.button--outlined {
  transition: 0.4s ease-in-out;
  padding: 1.3rem;
  font-weight: 400;
  font-family: $font-main;
  font-size: 1.1rem;
  color: $color-white;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.custom-button {
  @include black-box-shadow;
  background-color: $color-golden-opacity;
  border-radius: 1rem;

  &:hover {
    @include golden-box-shadow;
    border-radius: 4rem;
    background-color: $color-blue-opacity;
  }
}

.button--outlined {
  @include golden-box-shadow;
  border-radius: 4rem;
  background-color: $color-blue-opacity;

  &:hover {
    @include black-box-shadow;
    border-radius: 1rem;
    background-color: $color-golden-opacity;
  }
}
