@mixin black-box-shadow {
  -webkit-box-shadow: -1px 6px 24px 0px $color-black;
  -moz-box-shadow: -1px 6px 24px 0px $color-black;
  box-shadow: -1px 6px 24px 0px $color-black;
}

@mixin next-image {
  object-fit: cover;
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
