// colors
$color-white: #f4eeee;
$color-white-opacity: #fafafa1a;
$color-grey: #353131;
$color-golden: #7d5a09;
$color-golden-opacity: #7d5a09e0;
$color-dark-blue: #0e1a28;
$color-blue-opacity: #0e1a28b4;
$color-black: #0a0d16;

// shadows
$blue-shadow: 0px 0px 25px 10px $color-dark-blue;
$black-shadow: 0px 0px 15px 10px $color-black;

// typography
$font-main: 'Poppins', sans-serif;

// spacing
$section-block-padding: 4rem;
