// colors
$color-white: #f4eeee;
$color-white-opacity: #fafafa1a;
$color-grey: #9e9c9c;
$color-golden: #7d5a09;
$color-golden-opacity: #7d5a099f;
$color-dark-blue: #0e1a28;
$color-blue-opacity: #0e1a28dc;
$color-black: #0a0d16;

// typography
$font-main: "Poppins", sans-serif;
