.product-card{
    height: 400px;
    width: min(80%, 280px);
    margin-inline: auto;

    background-color: $color-white;
    border-radius: 20px;

    color: $color-black;
    text-align: center;


   transition: 1s ease-in-out;

   @include black-box-shadow;
}

.product-card__wrapper{
    height: 100%;
    padding: 1rem;

    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 1.5rem;

    div{
        background-color: $color-dark-blue;
    }
}

.product-card__title{
    font-size: 1.5rem;
    font-weight: 600;
    // letter-spacing: 0.1rem;
}
.product-card__price{
    font-size: 1.2rem;
    font-weight: 100;
    color: $color-golden;
}

.product-card:hover{
    transform: scale(1.1);

    -webkit-box-shadow: 5px 5px 0px 0px $color-golden;
    -moz-box-shadow: 5px 5px 0px 0px $color-golden;
    box-shadow: 5px 5px 0px 0px $color-golden;
}