.hero {
  padding: $section-block-padding;
  background: url('../../assets/images/bg.png') $color-dark-blue;
}

.hero__header {
  padding: 2rem;

  @media (max-width: 967px) {
    padding: 5rem;
  }

  @media (min-width: 1470px) {
    padding: 10rem;
  }
}
