.navbar {
  z-index: 2;
  position: relative;
  background-color: $color-dark-blue;
  color: $color-white;

  display: flex;
  justify-content: center;
  align-items: center;

  @include black-box-shadow;
}

.navbar__bars-icon,
.navbar__x-icon {
  font-size: 1.7rem;
  position: absolute;
  top: 10px;
  left: 10px;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.navbar__logotype {
  padding: 1.2rem 1rem;

  @media (min-width: 768px) {
    margin-inline: 1rem;
    border-left: 2px solid $color-golden;
    border-right: 2px solid $color-golden;
  }

  @media (min-width: 955px) {
    padding-inline: 2rem;
  }
}

.navbar__list {
  list-style: none;

  display: none;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
  }
}
.navbar__list--mobile {
  position: absolute;
  width: 100%;
  top: 110%;
  background-color: $color-dark-blue;
  z-index: 3;

  display: flex;
  flex-direction: column;

  .navbar__list_item {
    a {
      padding: 1rem;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }

  @include black-box-shadow;
}

.navbar__list_item {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;

  transition: 0.5s ease-in-out;

  a {
    display: block;
    padding: 2.5rem 0.6rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-white-opacity;
  }

  img:hover {
    cursor: pointer;
  }

  @media (min-width: 955px) {
    a {
      padding-inline: 1.2rem;
    }
  }
}
