.navbar {
  background-color: $color-dark-blue;
  color: $color-white;

  @include black-box-shadow;
}

.navbar__list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list_item {
  padding: 1.5rem 2rem;

  &:hover{
    cursor: pointer;
  }

  img:hover{
    cursor: pointer;
  }
}
