.footer {
  @include blue-box-shadow;
  padding: 1rem 1.8rem;
  background-color: $color-black;
  display: grid;
  gap: 1.6rem;
}

.footer__header {
  font-size: 1.5rem;
  color: $color-golden;
  font-weight: bold;
  text-align: center;
}

.footer__contact {
  display: grid;
  justify-items: start;
  gap: 1rem;

  @media (min-width: 1020px) {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

.footer__contact_item {
  display: grid;
  transition: 0.5s ease-in-out;

  &:hover {
    color: $color-golden;

    .contact-link {
      font-weight: bold;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: $color-golden;
  }
}

.contact-link {
  display: flex;
  gap: 0.5em;
  padding-top: 0.5em;
  align-items: center;
  font-weight: 200;
  transition: 0.5s ease-in-out;

  .bold {
    font-weight: bold;
  }
}
.contact-icon {
  font-size: 1.5rem;
}

.footer__copyright {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5em;

  span {
    font-size: 1.7rem;
    color: $color-golden;
  }
}
